body {
    margin: 0;
    
}

.bar {
    width: 100%;
    height: 8em;
    background-color: #30d5c8;
}

.fpart {
    display: block;
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5em;
    height: 65%;
}

.fpart li {
    display: inline;
    font-family: "MS UI Gothic";
    font-size: 3em;
    color: black;
    margin-right: 2em;
    float: right;
    padding: 0;
    cursor: pointer;
    padding-top: 0.7em;
    transition: 200ms;
}

.fpart li a {
    padding: 10px;
}
.fpart span {
    font-size: 0.6em;
    padding-left: 10px;
    font-family: "MS Gothic";
    font-weight: bold;
}

.fpart li:hover {
    transition-duration: 200ms;
    text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff;
}

li[id="fp_l_item"] {
    margin-right: 3rem;
}

li {
    padding: 0;
    margin: 0;
}

li[id="fp_f_item"] {
    float:left;
    margin:0;
    margin-left: 1.5rem;
    font-size: 4.2em;
    padding-top: 0;
    padding: 10;
    margin-top: 3px;
}

.fpart li[id="fp_f_item"] a {
    display:block;
}

.fpart li[id="fp_f_item"] span {
    display:block;
    font-size: 0.4em;
    padding: 0;
    text-align: center;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: black;
}